@import 'marketing';


/* 通用區 */
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Noto Sans TC', ;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
hr{
    border: 0;
    height: 4px;
    background-color: #203558;
    width: 50px;
    margin: 30px auto;
}
.wrap{
    position: relative;
    max-width: 1440px;
    margin: auto;
}
/* header */
.header{
    position: fixed;
    z-index: 100;
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #203558;
    .home-menu{ 
        padding: 0 100px;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items:center;
        .name{
            font-size: 30px;
            color: white;
            font-weight: 400;
            font-size: 120%;
            text-decoration: none;
         }
         .pure-menu-list{
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            top: 0;
            left: 0;
            font-size: 0;
            li{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            li a{
                font-size: 1rem;
                color: #fff;
            }
        }
    }
}
.cover{
    position: relative;
    background-image:url(../../img/cover.jpg) ;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: -11;
}
/* content-wrapper */
#about{
    background-color: #203558;
    color: #fff;
    height: 100vh;
    h2{
        color: #fff;
    }
    hr{
        background-color: #fff;
    }
}
.fas{
   font-size: 60px;
}
/* footer */
.footer.l-box{
   margin-top: 0;
   margin-bottom: 0;
}
@media screen and (max-width:767px){
    .header .home-menu{
        padding: 0 50px;
    }
    .l-box{
        ul li{
            font-size: 16px;
        }
    }
}
@media screen and (max-width:569px){
    .header .home-menu .pure-menu-list{
        display: none;
    }
    .splash{
        width: 100%;
        .splash-head{
            font-size: 40px;
        }
        .splash-subhead{
            font-size: 16px;
        }
    }
    .pure-u-1{
        font-size: 16px;
    }
    .pure-g{
        display: grid;
        grid-template-columns:1fr;
        .l-box{
            ul li{
                font-size: 16px;
            }
        }
    }
}
@media screen and (max-width:426px){
    .cover{
        .cover{
            position: relative;
            background-image:url(../../img/cover.jpg) ;
            background-size: cover;
            background-attachment: fixed;
            width: 100%;
            height: 100%;
            z-index: -11;
        }
    }
}